{% extends "layouts/layout.index.html" %}
{% block content %}
<div id="particles-js"></div>
<section>
    <div class="mainBlock wow fadeInDown">
        <div class="rightSide wow fadeInDown">
            <img src="../../assets/img/adekstra-logo.svg" alt="">
        </div>
        <div class="leftSide wow fadeInDown">
            <p class="leftTextFirst wow fadeInDown">Yeni Nesil Reklam ve Analiz Platformu</p>
            <p class="leftTextSecond wow fadeInDown">Yakında Sizlerle</p>
        </div>
    </div>
    <footer>
        <div class="bottomBar wow fadeInUp">
            <span>İletişim: <a href="tel:05445651885">0 (544) 565 18 85</a></span>
            <span>
                <img src="../../assets/img/codeck-logo.svg" alt="">
            </span>
            <span class="socials">
                <a href="#">Facebook</a>
                <a href="#">Linkedin</a>
            </span>
        </div>
    </footer>
</section>


{% endblock %}